{{define "channelindex"}}
    {{template "header"}}

    <h1>{{.Channel}}</h1>

    <pre><@Mike> hey who would like to be in my example quote for this new program
<@Mike> ?
< Shamed> i'm shamed and i wish to be an example quote</pre>

    <p>
        You can add a quote to the page by running <code>{{.Trigger}}addquote
        "hey who" "i'm shamed"</code>. The strings enclosed in quotes may be any length
        (but should accurately start/end the quote!). The first line of the quote will
        be its "title".
    </p>

    <hr>

    <table class="table table-sm dataTable" id="quotes">
        <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 40%">Date</th>
                <th style="width: 55%">Title</th>
            </tr>
        </thead>
        <tbody>
            {{range $key, $value := .Instances}}
            <tr>
                <td>
                    <a href="/view/{{$value.ID}}">{{$value.ID}}</a>
                </td>
                <td>{{$value.CreatedAt}}</td>
                <td>
                    <a href="/view/{{$value.ID}}">{{$value.Title}}</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table><!--/ #quotes.table table-sm -->

    {{template "footer"}}
{{end}}