{{define "channelindex"}}
    {{template "header"}}

    <h1>{{.Channel}}</h1>

    <table class="table table-sm dataTable" id="quotes">
        <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 40%">Date</th>
                <th style="width: 55%">Title</th>
            </tr>
        </thead>
        <tbody>
            {{range $key, $value := .Instances}}
            <tr>
                <td>
                    <a href="/view/{{$value.ID}}">{{$value.ID}}</a>
                </td>
                <td>{{$value.CreatedAt}}</td>
                <td>
                    <a href="/view/{{$value.ID}}">{{$value.Title}}</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table><!--/ #quotes.table table-sm -->

    {{template "footer"}}
{{end}}