{{define "footer"}}
                <footer>
                    <p>
                        Quty's source is available
                        <a href="https://github.com/n7st/quoteDB">here</a>.
                    </p>
                </footer>
            </div><!--/ .container -->

            <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"
            ></script>

            <script
                src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"
            ></script>

            <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"
            ></script>

            <script
                src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"
            ></script>

            <script>
                $(document).ready(function() {
                    $('.dataTable').DataTable({
                        bPaginate:     true,
                        bLengthChange: false,
                        bFilter:       true,
                        bInfo:         true,
                        bAutoWidth:    true,
                        dom: '<"top"fp>rt<"bottom"i><"clear">',
                    });
                });
            </script>

            {{template "javascript"}}
        </body>
    </html>
{{end}}