{{define "quote"}}
    {{template "header"}}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/channel/{{.Channel | urlquery}}">{{.Channel}}</a></li>
        <li class="breadcrumb-item active">{{.ID}}</li>
    </ol><!--/ .breadcrumb -->

    <table class="table table-sm">
        <thead>
            <tr>
                <th colspan="2">{{.Channel}} at {{.Date}}</th>
            </tr>
            <tr>
                <th>Author</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {{range $key, $value := .Lines}}
                <tr>
                    <td>{{$value.Author}}</td>
                    <td>{{$value.Content}}</td>
                </tr>
            {{end}}
        </tbody>
    </table><!--/ .table .table-sm -->

    {{template "footer"}}
{{end}}
